bcrypt==5.0.0
email-validator==2.3.0
fastapi==0.136.0
psycopg2==2.9.11
pydantic==2.12.5
pydantic-extra-types==2.11.2
pydantic-settings==2.13.1
pydantic_core==2.41.5
pytest==9.0.3
python-jose==3.5.0
python-multipart==0.0.26
SQLAlchemy==2.0.49
uvicorn==0.38.0
