DATABASE_HOSTNAME=localhost
DATABASE_PORT=8000
DATABASE_PASSWORD=password123
DATABASE_NAME=workout_tracker
DATABASE_USERNAME=postgres
SECRET_KEY=882b4ca06073e55a679e78e5f0ce6f5a64198cec778344ecb24b931cd0bf7050
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30